#NetBeans
manifest.mf
build.xml
/nbproject
/build
#Eclipse
.metadata
.classpath
.project
bin/
tmp/
*.tmp
*.bak
.settings
target/
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.DS_Store
.reccomenders
.recommenders
*.properties
